<%- include("header") -%>

<div class="box">

    <h2>This is about page</h2>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ad laborum delectus veniam ea totam natus alias? Nisi, explicabo similique officia soluta provident eos voluptates qui ea facilis porro! Rem reprehenderit soluta laborum debitis officiis nesciunt ea nobis quidem! Odio nam natus optio officiis voluptatem? Debitis sint officiis dolorum aut.</p>
    
</div>
    <%- include("footer") -%>